<div class="flex justify-center items-center h-full">
    <div class="max-w-md w-full p-6 space-y-6 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-bold text-center">Log in</h1>
        <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <div class="space-y-4">
                <div>
                    <label for="username" class="text-gray-600 block">Username</label>
                    <input type="text" name="username" formControlName="username" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="loginForm.get('username')?.touched" class="text-red-500">
                        <div *ngIf="loginForm.get('username')?.errors?.['required']">
                            Username is required!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="password" class="text-gray-600 block">Password</label>
                    <input type="password" name="password" formControlName="password" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="loginForm.get('password')?.touched" class="text-red-500">
                        <div *ngIf="loginForm.get('password')?.errors?.['required']">
                            Password is required!
                        </div>
                    </div>
                </div>

                <div *ngIf="loginForm.get('password')?.touched" class="text-red-500">
                    <div *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                </div>
            </div>

            <button class="btn bg-gray-200 mt-6 w-full">Login</button>
            
            <p class="text-center text-gray-600 mt-4">Not a member? <a routerLink="/register" class="text-blue-500 hover:text-blue-700">Register</a></p>
        </form>
    </div>
</div>