<div class="flex justify-center items-center h-full">
    <div class="max-w-md w-full p-6 space-y-6 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-bold text-center">Create an account</h1>
        <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
            <div class="space-y-4">
                <div>
                    <label for="name" class="text-gray-600 block">Name</label>
                    <input type="text" name="name" formControlName="name" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="registerForm.get('name')?.touched" class="text-red-500">
                        <div *ngIf="registerForm.get('name')?.errors?.['required']">
                            Name is required!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="email" class="text-gray-600 block">Email</label>
                    <input type="text" name="email" formControlName="email" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="registerForm.get('email')?.touched" class="text-red-500">
                        <div *ngIf="registerForm.get('email')?.errors?.['required']">
                            Email is required!
                        </div>
                        <div *ngIf="registerForm.get('email')?.errors?.['email']">
                            Email is not valid!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="username" class="text-gray-600 block">Username</label>
                    <input type="text" name="username" formControlName="username" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="registerForm.get('username')?.touched" class="text-red-500">
                        <div *ngIf="registerForm.get('username')?.errors?.['required']">
                            Username is required!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="password" class="text-gray-600 block">Password</label>
                    <input type="password" name="password" formControlName="password" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="registerForm.get('password')?.touched" class="text-red-500">
                        <div *ngIf="registerForm.get('password')?.errors?.['required']">
                            Password is required!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="phone_number" class="text-gray-600 block">Phone number</label>
                    <input type="text" name="phone_number" formControlName="phone_number" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="registerForm.get('phone_number')?.touched" class="text-red-500">
                        <div *ngIf="registerForm.get('phone_number')?.errors?.['required']">
                            Phone number is required!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="egn" class="text-gray-600 block">Egn</label>
                    <input type="text" name="egn" formControlName="egn" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="registerForm.get('egn')?.touched" class="text-red-500">
                        <div *ngIf="registerForm.get('egn')?.errors?.['required']">
                            Egn is required!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="date_of_creation" class="text-gray-600 block">Date</label>
                    <input type="text" name="date_of_creation" formControlName="date_of_creation" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="registerForm.get('date_of_creation')?.touched" class="text-red-500">
                        <div *ngIf="registerForm.get('date_of_creation')?.errors?.['required']">
                            Date is required!
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="errorMessage" class="text-red-500">
                <div *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
            </div>

            <button class="btn bg-gray-200 mt-6 w-full">Register</button>
            
            <p class="text-center text-gray-600 mt-4">Already have an account? <a routerLink="/login" class="text-blue-500 hover:text-blue-700">Login</a></p>
        </form>
    </div>
</div>